{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>IBC - Konrad Lorenz</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Template Name: GlobalLanding
    Template URL: https://templatemag.com/globallanding-bootstrap-landing-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <!-- ********** HEADER ********** -->
  <div class="intro">
    <div class="content">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title">ANALISIS IBC<span class="thin"> GRADUADOS COLOMBIA  </span></h1>
        <p class="main-tagline">
          El Observatorio Laboral para la Educación Colombiana  los indicadores laborales 2017-2019 y académicos 2019.<br><br>
          <a href="#blk" class="smoothscroll btn btn-conf btn-theme">Conoce más</a>
        </p>
      </div>
    </div>
    <!--content-->
  </div>
  <!-- /intro -->

  <!-- ********** BLACK SECTION ********** -->
  <div id="blk">
    <div class="container">
      <div class="row">
        <h5 class="centered">Información del Proyecto</h5>
        <hr class="aligncenter mb">
        <div class="col-md-4 col-md-offset-2" >
          <p id="parrafo">Datos precisos que permitan tener una perspectiva general del comportamiento del sector, el Observatorio Laboral para la Educación, del Ministerio de Educación Nacional pone a disposición los indicadores laborales 2017-2019 y los académicos 2019..</p>
        </div>
        <div class="col-md-4">
          <p  id="parrafo">Los estudiantes reportados como graduados en los registros administrativos del Sistema Nacional de Información de la Educación Superior. Rangos de salarios mínimos mensuales legales vigentes, tomados como ingresos de los graduados de educación superior que cotizan como dependientes al Sistema General de Seguridad Social – SSSI.</p>
        </div>
      </div>
    </div>
    <!--/container-->
  </div>
  <!--/blk section -->

  <!-- ********** GREY SECTION ********** -->
  <div id="grey">
    <div class="container">
      <div class="row">
        <div class="col-md-1 centered">
          <i class="icon ion-ios-people"></i>
        </div>
        <div class="col-md-3">
          <h5>Participa con la Información</h5>
          <hr>
          <p>En este espacio podras participar en el proceso de contrucción de la informacion  y contribuir al analisis exploratorio</p>
          <br>
          <br>
          <button class="btn btn-conf btn-theme"> <a href="/Form/">Continua</a> </button>
        </div>
        <div class="col-md-1 centered">
          <i class="icon ion-arrow-graph-up-right"></i>
        </div>
        <div class="col-md-3">
          <h5>Conoce los resultados</h5>
          <hr>
          <p>Acompañanos a conocer los resultados descriptivos de nuestra investigación, en la cual podras entender que esta pasando con los salarios de los profesionales en colombia</p>
          <br>
          <button class="btn btn-conf btn-theme"><a href="/Resultados/">Continua</a> </button>
        </div>
        <div class="col-md-1 centered">
          <i class="icon ion-levels"></i>
        </div>
        <div class="col-md-3">
          <h5>Machine Learning en nuestra investigación</h5>
          <hr>
          <p>Accederemos a los métodos de análisis de datos que automatiza la construcción de modelos analíticos, con los que resaltamos los patrones y tomar decisiones basadas en datos</p>
          <button class="btn btn-conf btn-theme">Continua</button>
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container -->
  </div>
  <!-- /grey -->

  <section class="news">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 section-bg-color">
          <p><img src="{% static 'img/ui-01.jpg' %}" class="img-circle mr" height="40"><img src="{% static 'img/ui-02.jpg' %}" class="img-circle mr" height="40">
            <nm>            </nm>
          </p>
          <hr>
          <h1></h1>
          <h3>Enfoque académico</h3>
          <hr class="blog">
          <p class="hidden-sm">En Colombia todos los procesos relacionados con la Educación Primaria, Segundaria, y Superior son regulados por El Ministerio de Educación Nacional el cual fue creado mediante la ley 7ª de agosto 25 de 1886, este Ministerio tiene como función contribuir a los procesos de mejora educativa del país mediante diferentes políticas nacionales. De manera puntual tiene la labor de evaluar la pertinencia de la educación con el uso diferentes tipos de herramientas como las que se habilitan para la ciudadanía desde el OLE</p>
          <p class="hidden-sm">Según el Observatorio Laboral para la Educación (OLE) las cifras de graduados en Colombia en el año 2019 alcanzaron los 507.338, aumentando en un 4,1% respecto al 2018 y duplicando el número de graduados del 2010 donde esta cifra era de 257.294. En cuento al nivel de formación para el año 2019 se distribuye de la siguiente forma: 4,2% en nivel técnico profesional, 28% en nivel tecnológico, 46,3% en nivel universitario, 16% en especializaciones, 0,4% en especializaciones   medico quirúrgicas, 4,9% en maestrías y 0,2% en doctorados </p>

          <p class="mt"><button class="btn btn-conf btn-theme"> <a href="/Enfoque/">Leer el documento completo</a></button></p>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </section>
  <!--/NEWS -->



  <!-- ********** BLACK SECTION ********** -->
  <div id="blk">
    <div id="parrafo" class="container">
      <div class="row">
        <h5 class="centered">Creadores</h5>
        <hr class="aligncenter mb">
        <div class="col-md-1 col-md-offset-1 centered">
          <p><img src="{% static 'img/ui-01.jpg' %}" class="img-circle" height="60">
            
          </p>
        </div>
        <div class="col-md-4">
          <h2 >Ingrid Tatiana Fuentes Álvarez</h2>
          <p id="parrafo">Líder de Servicios a Graduados
            Fundación Universitaria Konrad Lorenz
          </p>
          <p id="parrafo">Comunicadora Social y Magister en Comunicación Política 
          </p>
        </div>
        <div class="col-md-1 centered">
          <p><img src="{% static 'img/ui-02.jpg' %}" class="img-circle" height="60">
          
            
          </p>
        </div>
        <div class="col-md-4">
          <h2>Josep Andrés Espitia Porras</h2>
          <p id="parrafo">Desarrollador de Datos y Analítica 
            <br> Manar | Value Generation through Analytics
            </p>
          <p id="parrafo">Ingeniero de Sistemas
          </p>
        </div>
      </div>
    </div>
    <!--/container-->
  </div>
  <!--/blk section -->



  <div id="copyrights">
    <div class="container">
      <p>
        <a href="">Fundación Universitaria Konrad Lorenz</a>.</strong>
        <br>
        <strong>Copyright &copy; 2022 
      </p>
      <div class="credits">
        <!--
          https://templatemag.com/globallanding-bootstrap-landing-template/
          Licensing information: https://templatemag.com/license/
        -->
       
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.js' %}"></script>
  <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'lib/tweenlite/tweenlite.min.js' %}"></script>
  <script src="{% static 'lib/tweenlite/easepack.min.js' %}"></script>
  <script src="{% static 'lib/tweenlite/init.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
